# Ignore environment and sensitive data
.env
*.env

# Ignore backup files
*.bak
*.tmp

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

/vendor
composer.json
composer.lock

Procfile

challenges

certs
