/* Basic reset to remove any default margin or padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Header style */
header {
    text-align: center;
    margin-bottom: 20px;
}

/* Main content area */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styling the buttons */
a.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

a.btn:hover {
    background-color: #45a049;
}

/* Footer style */
footer {
    text-align: center;
    margin-top: 30px;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr {
    transition: background-color 0.2s ease-in-out;
}
tr:hover {
    background-color: #e0e0e0;
}
.clickable-row {
    cursor: pointer;
}
pre {
    display: block;
    font-family: monospace;
    unicode-bidi: isolate;
    white-space: pre;
    margin: 1em 0px;
}